/* Regole generali, font e utility */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.floated {
  float: left;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.inline-block {
  display: inline-block;
}

.centered-block {
  width: 85%;
  margin: 0 auto;
}

.white-text {
  color: white;
}

.link-style {
  font-size: 9px;
  text-decoration: none;
  text-transform: uppercase;
}

.button {
  background-color: #8AC21F;
  border-radius: 5px;
}

/* end Regole generali, font e utility */

/* Styling */
.container {
  margin: 0 auto;
  width: 1200px;
}

header {
  background-color: #143A63;
}

.header-top-middle-container {
  position: relative;
}

.header-top-middle-container > nav {
  padding-top: 10px;
}

.header-top-middle-container > nav .logo {
  padding-right: 60px;
  vertical-align: -10px;
}

.header-top-middle-container > nav ul {
  list-style-type: none;
    text-align: center;
}

.header-top-middle-container > nav ul li a {
  padding-right: 20px;
}

.header-top-middle-container > nav .center-menu {
  padding-right: 90px;
}

.header-top-middle-container > nav .right-menu li:nth-child(2) {
  padding-right: 15px;
}

.header-top-middle-container > nav .right-menu .login-button {
  padding: 8px 30px;
  border: 1px solid white;
  border-radius: 5px;
}

.header-top-middle-container > nav .right-menu .plan-button {
  padding: 7.5px 20px;
}

.central-header {
  height: 500px;
}

.central-header .logo-bg {
  height: 75%;
  width: 76%;
  background-image: url("../img/men.png");
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 0;
}

.central-header .header-description {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  max-width: 470px;
}

h1 {
  font-size: 45px;
}

.header-button {
  padding-top: 45px;
}

.central-header .header-description .plan-button {
  padding: 20px 30px;
}

.lower-header {
  height: 150px;
  background-color: grey;
}

main {
  margin: 40px 0;
  height: 1000px;
}

.upper-main {
  height: 50%;
}

.upper-main section:first-child{
  background-color: black;
}

.upper-main section:nth-child(2) {
  background-color: orange;
}

.upper-main section:nth-child(3) {
  background-color: purple;
}

.upper-main section:first-child, .upper-main section:nth-child(2), .upper-main section:nth-child(3), .lower-main .placement-test {
  height: 500px;
  width: 25%;
}

.lower-main {
  height: 50%;
}

.lower-main .placement-test {
  background-color: pink;
}

footer {
  background-color: yellow;
  height: 200px;
}

/* end Styling */
